echo "DETAILS-----" >> /tmp/sayani/newdata.txt
echo "The name is--> {{ uname }}" >> /tmp/sayani/newdata.txt
echo "The working location is--> {{ wlocation }}" >> /tmp/sayani/newdata.txt
echo "The DOJ is--> {{ doj }}" >> /tmp/sayani/newdata.txt
echo "The tower is--> {{ tower }}" >> /tmp/sayani/newdata.txt
echo "The department is--> {{ dept }}" >> /tmp/sayani/newdata.txt

